.Messenger {
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: whitesmoke;
    overflow: hidden;
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
}